---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Subheader from "../components/Subheader.astro";
import mildred from "../images/mildred.jpeg";
import Slideshow from "../components/Slideshow.astro";
import terapiaSistemica from "../images/terapia-sistemica.png";
import terapiaSistemica2 from "../images/terapia-sistemica-2.png";

---

<Layout>
  <section class="p-8 flex flex-col text-lg max-w-5xl mx-auto">
    <h2 class="font-railway text-5xl text-title-text my-10">Hola, soy Mildred</h2>
    <div class="flex flex-col-reverse sm:flex-row gap-12">
      <div class="basis-3/5 flex flex-col">
        <h3 class="text-3xl text-title-text mb-8">
          Psicóloga especialista en terapia sistémica.
        </h3>
        <p class="mb-6">
          Soy egresada de la licenciatura de Psicología por el ITESO y egresada de la Maestría en Terapia Sistémica por el Instituto Bateson. Con más de siete años trabajando en el área clínica de la psicología. Siempre actualizándome para brindarte lo mejor.
        </p>
        <p>
          Mi enfoque me permite trabajar con una amplia gama en problemáticas y situaciones familiares, de pareja e individuales.</p>
        </p>
      </div>
      <div class="basis-2/5">
        <div class="rounded-tl-5xl rounded-br-5xl overflow-hidden shadow-xl shadow-pearl-bush-400 max-w-sm">
          <Image class="w-full" src={mildred} alt="Mildred" />
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col items-center gap-10 p-8 text-lg pb-20 max-w-5xl mx-auto">
    <Subheader>¿Qué es la terapia sistémica?</Subheader>
    <div class="flex flex-col items-center md:flex-row md:items-start gap-12 ">
      <div class="basis-2/5">
        <Slideshow
          imageSrc={terapiaSistemica}
          image2Src={terapiaSistemica2}
          imageAlt="Terapia Sistémica"
          image2Alt="Terapia Sistémica"
          className="max-w-sm"
        />
      </div>
      <div class="basis-3/5">
        <p class="mb-6">
          La terapia sistémica trabaja entendiendo que los seres humanos están inmersos en grupos complejos, como la familia, los amigos, la pareja, la sociedad, incluso nuestro propio cuerpo, a estos grupos se les llama sistemas.
        </p>
        <p class="mb-6">
          Entendemos que no podemos percibir al ser humano como un ente solitario y es por eso que analizamos sus distintos sistemas, dinámicas relacionales, contexto, historia de vida, etc, para entender el presente del o los individuos y las problemáticas a las que se enfrentan.
        </p>
        <p class="mb-6">
          La terapia sistémica tiene un gran impacto en cualquier modalidad, ya sea terapia individual, de pareja o de familia. Pues se trabaja con una visión circular llegando así a la raíz del problema.
        </p>
        <p class="italic font-light">* No debe confundirse con constelaciones familiares</p>
      </div>
    </div>
  </section>
</Layout>