---
import ContactItem from "./ContactItem.astro";

interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<section
  id="contacto"
  class={`flex flex-col items-start p-8 gap-16 max-w-5xl mx-auto pb-20 ${className}`}
>
  <h2
    class="font-oswald text-title-text text-4xl tracking-wide self-stretch text-center"
  >
    Información de contacto
  </h2>
  <p>
    Le agradecería que enviara un mensaje a través de WhatsApp, SMS o correo electrónico para solicitar información adicional.
    Responderé a la brevedad posible.
  </p>
  <div class="flex flex-col md:flex-row md:justify-between w-full">
    <div
      class="flex flex-col gap-4 items-start md:basis-1/2 shrink-0 grow-0 py-10 w-full"
    >
      <ContactItem
        icon="ic:baseline-whatsapp"
        name="WhatsApp"
        href="https://wa.me/523310951644?text=Hola%2C%20me%20gustar%C3%ADa%20agendar%20una%20cita."
        linkText="33 1095 1644"
      />
      <ContactItem
        icon="ic:outline-email"
        name="Correo"
        href="mailto:mildredpsicologia@gmail.com"
        linkText="mildredpsicologia@gmail.com"
      />
    </div>
    <div
      class="rounded-tl-2xl rounded-br-2xl bg-secondary-bg p-10 md:basis-1/2"
    >
      <h4 class="text-title-text text-2xl mb-8 text-oswald">Horarios</h4>
      <h5 class="text-lg font-semibold">Horarios de atención</h5>
      <p class="text-lg flex justify-between max-w-md">
        Lunes a viernes:
        <span class="font-bold"> 9:00 am - 9:00 pm</span>
      </p>
      <hr class="bg-title-text my-6"/>
      <h5 class="text-lg font-semibold">Horarios de terapia</h5>
      <p class="text-lg flex justify-between max-w-md">
        Lunes a viernes:
        <span class="font-bold"> 1:00 pm - 8:00 pm</span>
      </p>
    </div>
  </div>
</section>
