---
import SocialMedia from "./SocialMedia.astro";

---

<div class="bg-secondary-bg flex flex-col justify-center items-center p-20 pb-10 gap-10">

    <div class="flex gap-16 text-lg font-semibold">
      <a href="/" class="hover:text-rose-fog-500">Inicio</a>
      <a href="/about" class="hover:text-rose-fog-500">Sobre éste sitio</a>
      <a href="/contacto" class="hover:text-rose-fog-500">Contacto</a>
    </div>
  <SocialMedia />
</div>