---
import CircleIcon from './CircleIcon.astro';

interface Props {
  size?: 'sm' | 'md' | 'lg';
}

const { size = 'md' }: Props = Astro.props;
---

<div class="flex justify-end gap-4 p-4" id="socialLinksHeader">
  <a href="https://www.linkedin.com/in/mildred-diaz-castillo-627831109/">
    <CircleIcon name="ri:linkedin-fill" size={size}/>
  </a>
  <a href="https://www.instagram.com/mildredpsicologia/">
    <CircleIcon name="ri:instagram-fill" size={size}/>
  </a>
  <a href="https://www.tiktok.com/@mildredpsicologia">
    <CircleIcon name="ic:baseline-tiktok" size={size}/>
  </a>
</div>