---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import { SEO } from 'astro-seo'
interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-full h-full bg-gradient-to-b from-pearl-bush-200 to-pearl-bush-100 text-main-text">
	<head>
		<SEO
			title="Dra Mildred Diaz. Psicologia y Terapia en Guadalajara"
			description="Psicólogo en Guadalajara ✅, Psicologa en Guadalajara, Psicólogos en Guadalajara, Psicólogos en Zapopan, Psicóloga en Zapopan, Agenda tu cita !  Psicólogo de pareja, Terapia Individual, Terapia Infantil, Terapia Familiar, Terapia de pareja, depresion, ansiedad, TDAH, Atencion dispersa, terapia, Terapia en linea, Terapia sistemica, Mildred Diaz"
			openGraph={{
				basic: {
					title: 'Dra Mildred Diaz. Terapia Sistémica en Guadalajara',
					type: 'website',
					image: 'https://mildredpsicologia.com/_astro/mildred.6ba4eaa3_zOinD.webp'
				}
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="description" content="Mildred psicologia Web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || 'Mildred Psicologia'}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif&family=Raleway:wght@100;200;300&display=swap" rel="stylesheet">
		<ViewTransitions />
	</head>
	<body class="bg-main-bg min-h-full flex flex-col">
		<Header />
		<slot />
		<Footer />
	</body>
</html>